@font-face {
  font-family: PressStart2P;
  src: url(../fonts/PressStart2P-vaV7.ttf);
  font-weight: normal;
}

.master {
  background-image: linear-gradient(
    to bottom,
    rgb(0, 0, 0) 0%,
    rgb(0, 0, 0) 200%
  );
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.macro {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
}

/* .container {
  display: inline-flex;
  justify-content: space-between;
  flex-wrap: wrap;
} */

.btn_box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.btn {
  font-family: PressStart2P;
  padding: 10px;
  margin: 10px;
}

.create {
  font-family: PressStart2P;
  padding: 10px;
  /* border-radius: 10px; */
  background-color: red;
  color: white;
  border-width: 2px;
  border-style: solid;
  border-color: white;
  cursor: pointer;
}

.create:active {
  background-color: red;
  box-shadow: 0 5px #666;
  transform: translateY(2px);
}

/* .master {
  background-image: url("../img/wp2343919.jpg");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 1400px;
} */
