@font-face {
  font-family: PressStart2P;
  src: url(../fonts/PressStart2P-vaV7.ttf);
  font-weight: normal;
}

.landing {
  display: flex;
  height: 100%;
  width: 100%;
  position: fixed;
  /* top: 0;
  left: 0;
  right: 0;
  bottom: 0; */
  background-image: url('https://hdqwalls.com/wallpapers/super-mario-minimalism.jpg');
  background-repeat: no-repeat;
  background-position: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-size: cover;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.linkbox {
  display: flex;

  border-style: solid;
  border-color: white;
  border-width: 3px;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgb(241, 237, 22);
  cursor: pointer;
  transition: background-color 0.3s;
}

.linkbox:hover {
  background-color: rgb(241, 55, 22);
  color: white;
  border-color: white;
  transition: background-color border-color color 0.3s;
}

.linkbox:active {
  background-color: rgb(241, 55, 22);
  color: white;
  border-color: white;
  box-shadow: 0 5px #666;
  transform: translateY(2px);
}

.innerLink {
  color: rgb(0, 0, 0);
  font-family: PressStart2P;
  height: 90%;
  width: 90%;
  font-size: 120%;
  text-align: center;
}

.link {
  position: relative;
  top: 30%;
  left: 1.5%;
  height: 12%;
  width: 15%;
}

.linklink {
  text-decoration: none;
}

@media screen and (max-width: 800px) {
  .link {
    width: 60%;
    left: 5%;
    top: 25%;
  }
}
