@font-face {
  font-family: PressStart2P;
  src: url(../fonts/PressStart2P-vaV7.ttf);
  font-weight: normal;
}

.landing {
  display: flex;
  background-image: url("https://hdqwalls.com/wallpapers/super-mario-minimalism.jpg");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 720px;
}

.linkbox {
  display: flex;
  position: relative;
  top: 175px;
  left: 7px;
  border-style: solid;
  border-color: white;
  border-width: 3px;
  border-radius: 8px;
  height: 75px;
  width: 200px;
  justify-content: center;
  align-items: center;
  background-color: rgb(241, 237, 22);
  cursor: pointer;
}

.linkbox:active {
  background-color: rgb(241, 237, 22);
  box-shadow: 0 5px #666;
  transform: translateY(2px);
}

.innerLink {
  color: rgb(0, 0, 0);
  font-family: PressStart2P;
  font-size: 20px;
  text-align: center;
}

.link {
  text-decoration: none;
}
