.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* align-items: center; */
  background-color: rgba(0, 0, 0, 0.85);
  position: fixed;
  top: 12%;
  height: 100%;
  width: 100%;
  z-index: 1;
  color: whitesmoke;
}

.cont {
  position: relative;
  top: 10%;
  height: 100%;
  width: 100%;
}

.section {
  display: flex;
  width: 100%;
  /* min-height: 15%; */
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 10%;
}

.lab {
  align-self: center;
  /* margin-right: 10%; */
  /* width: 100%; */
}

.section_gen {
  display: flex;
  width: 100%;
  /* min-height: 48%; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* .sub_gen {
  height: 100%;
} */

.section_cont {
  display: flex;
  width: 30%;
  align-items: center;
  justify-content: space-between;
}

.icon {
  align-self: center;
  transition: all 0.1s;
}

.icon_rot {
  align-self: center;
  transform: rotate(90deg);
  transition: transform 0.1s;
}

.show {
  display: block;
  visibility: visible;
  margin-top: 5%;
  margin-bottom: 5%;
}

.hide {
  display: none;
  visibility: collapse;
}

.hide_gen {
  display: none;
  visibility: collapse;
}

.show_gen {
  display: flex;
  visibility: visible;
  margin-bottom: 3%;
}
