.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* align-items: center; */
  background-color: rgba(0, 0, 0, 0.85);
  position: fixed;
  top: 12%;
  height: 100%;
  width: 100%;
  z-index: 1;
  color: whitesmoke;
}

.section {
  display: flex;
  width: 100%;
  min-height: 15%;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}

.lab {
  align-self: center;
}

.section_gen {
  display: flex;
  width: 100%;
  min-height: 48%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sub_gen {
  height: 100%;
}

.section_sort {
  display: flex;

  width: 100%;
  min-height: 10%;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
