.img {
  height: 100%;
  width: 100%;
  /* margin-bottom: 5px; */
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.master {
  height: 55%;
  width: 20%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  text-align: center;
  width: 100%;
  height: 100%;
  /* margin: 10px; */
  /* padding: 10px; */
  background-color: rgba(51, 51, 51);
  color: whitesmoke;
  font-weight: bold;
  transition: transform 0.3s;
  border-radius: 12px;
}

.box:hover {
  transform: scale(1.06);
  transition: transform 0.3s;
}

.upper {
  height: 90%;
  width: 100%;
  /* border-top-left-radius: 8px;
  border-top-right-radius: 8px; */
}

.lower {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40%;
  width: 100%;
}

.link {
  text-decoration: none;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.genrate {
  display: none;
}

.box:hover .genrate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  border-style: solid;
  border-color: white;
  border-width: 2px;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.9);
  transition: 0.5s;
}

.content {
  display: flex;
  color: white;
}

@media screen and (max-width: 800px) {
  .master {
    width: 80%;
    height: 40%;
  }
}
