@font-face {
  font-family: PressStart2P;
  src: url(../fonts/PressStart2P-vaV7.ttf);
  font-weight: normal;
}

.macro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.vid_container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0);
  height: 100%;
  width: 100%;
}

.btn_box {
  display: flex;
  align-items: center;
}

.btn {
  padding: 10px;
  margin: 10px;
}

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 95%;
  /* align-self: center; */
  font-family: PressStart2P;
  font-size: 100%;
  color: white;
  /* padding: 20px; */
}

/* @media screen and (max-width: 800px) {
  .error {
    width: 50%;
  }
} */
